<div class="card">
  <div class="card-body">
    <h5 class="card-title">Drugs</h5>

    <%= link_to "New Drug", new_patient_record_treatment_drug_path(@treatment.patient_record, @treatment), class: "btn btn-primary float-end" %>

    <!-- Default Table -->
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Drug name</th>
        <th scope="col">Description</th>
        <th colspan="2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @treatment.treatment_drugs.each do |treatment_drug| %>
        <tr>
          <td><%= treatment_drug.drug.name %></td>
          <td><%= treatment_drug.description %></td>
          <td>
            <%= link_to "Edit", edit_patient_record_treatment_drug_path(@treatment.patient_record, @treatment, treatment_drug.drug), class: "btn btn-sm btn-primary" %>
            <a class="btn btn-sm btn-outline-danger" href="/patient_records/<%= @treatment.patient_record.id %>/treatments/<%= @treatment.id %>/drugs/<%= treatment_drug.id  %>">Delete</a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
