<!DOCTYPE html>
<html>
  <head>
    <title>IcareManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet"/>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if current_user.present? %>
    <%= render "shared/header" %>
    <%= render "shared/sidebar" %>

    <main id="main" class="main">
      <div class="mt-1">
        <%= render "shared/alert" %>
      </div>
      <%= yield %>
    </main>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>
  <% else %>
    <div class="mt-1">
      <%= render "shared/alert" %>
    </div>
    <%= yield %>
  <% end %>
  </body>
</html>
